@charset "utf-8";

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
	margin: 15px;
}
/*h1タグの設定*/
#container h1 {
	display: none;
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
header {
	width: auto;
	background-size: 80%;	/*背景画像をウィンドウに対して80％に*/
	border: none;
	border-bottom: 1px solid #FFF;	/*下側の線の幅、線種、色*/
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
/*メニューブロックの設定*/
nav#menu ul {
	height: auto;
	overflow: hidden;
}
/*メニュー１個ごとの設定*/
nav#menu ul li {
	width: 50%;
}
nav#menu ul li a {
	border: none;
	border-bottom: 1px solid #FFF;	/*下側の線の幅、線種、色*/
}
/*奇数番目のメニューの設定(※１個目の「ホーム」メニューが非表示になっている為、この場合はサービスとお問い合わせが奇数番目となる。)*/
nav#menu ul li:nth-child(odd) {
	border-left: 1px solid #FFF;	/*左側の線の幅、線種、色*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*１個目の「ホーム」メニューの設定*/
nav#menu ul li:first-child {
	display: none;	/*メニュー数を偶数にする為、ホームのみ非表示にしています。表示させたいならこの１行削除。*/
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	width: auto;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*service.html内の各ブロック（※タイプ１）
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list1 section {
	width: 45%;	/*ボックスの幅*/
}

/*その他
---------------------------------------------------------------------------*/
/*写真の設定*/
img.wa {
	width: auto;
	height: 250px;
}
/*<body class="s-n">指定の場合にsubブロックを表示させない設定*/
body.s-n #sub {
	display: none;
}
